<div class="sheet-header">
    <button class="edit-toggle floating" data-tooltip="TOW.Sheet.ToggleEditing" data-action="toggleEdit"><i class="fas fa-edit"></i></button>
    <img data-action="editImage" data-edit="img" src="{{actor.img}}" height="100" width="100">
    <div class="header-details">
        <input type="text" name="name" value="{{actor.name}}" placeholder="{{localize "Name"}}">
    </div>
</div>