<div class="sheet-header">
    <img data-action="editImage" src="{{actor.img}}" height="100" width="100">
    <div class="header-details">
        <input type="text" name="name" value="{{actor.name}}" placeholder="{{localize "Name"}}">
    </div>
    <a class="floating" data-action="toggleEdit"><i class="fas fa-edit"></i></a>
</div>