<section class="tab {{tab.cssClass}}" data-group="primary" data-tab="{{tab.id}}">

    {{formGroup system.schema.fields.resilience value=source.system.resilience localize=true}}
    {{formGroup system.schema.fields.traits value=source.system.traits localize=true}}


</section>