@use "./sheets/index";
@use "./apps/test-dialog";
@use "./apps/temptation";
@use "./chat/test";
@use "./chat/opposed";
@use "./chat/message";
@use "./apps/advancement";
@use "./foundry/tooltip";
@use "./theme/theme";

@font-face {
    font-family: "OnlySkulls";
    src: url('./assets/fonts/only-skulls.ttf');
}


body.theme-light .whtow {
    --input-bg : transparent;
}

.whtow {
    --input-bg : var(--color-cool-4);

    .like-input  {
        width: 100%;
        height: var(--input-height);
        line-height: var(--input-height);
        padding: 0 0.5rem;
        background: var(--input-bg);
        border: 1px solid transparent;
        border-radius: 4px;
        color: var(--input-text-color);
        text-align: center;
        display: flex;
        align-items: center;
        > * {
            flex: 1;
        };
        .control {
            flex: 0 0 1rem;
        }
    }
}


