<div class="spell-details">
<div>

{{#if result.miscasts}}
    <p>{{result.miscasts}} Miscast Dice Added</p>
{{/if}}
{{#if result.miscasted}}
    <button data-action="rollMiscast">Miscast!</button>
{{/if}}
</div>

<div>
{{#if (gt result.successes 0)}}
    <p>{{result.successes}} Successes Added</p>
{{/if}}
</div>


{{#if (gt result.progress 0)}}
    <button data-action="castSpell">Cast Spell</button>
{{/if}}


</div>
