<div class="spell-dialog">
    <div class="form-group">
        <label>{{localize "TOW.Dialog.Mixing"}}</label>
        <div class="form-fields" style="flex: 0 0 2rem;">
            <input type="number" name="mixing" value="{{fields.mixing}}">
        </div>
    </div>
</div>