@use "../../mixins/border" as *;
.application.whtow.actor {

    --border: var(--color-cool-3);
    --condition-active: var(--color-warm-2);

    .effect-lists {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }


    .defending-against {
        display: flex;
        position: relative;
        border: 1px solid var(--border);
        padding: 0.5rem;
        
        .attack-details {
            flex: 1;
            text-align: center;
            label {
                @include gradient-border($color: var(--border));
                display: inline-block;
                padding-bottom: 0.5rem;
                margin-bottom: 0.5rem;
                width: 100%;
            }
            div {
                display: flex;
                gap: 2rem;
                justify-content: center;
            }
        }
        img {
            width: 50px;
        }
        .remove-opposed {
            position: absolute;
            right: 5px;
            top: 2px;
        }
    }

    .miscast-container {
        display: flex;
        gap: 0.5rem;
        .miscast-controls {
            flex: 0 0 5rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
        }
    }
    .miscast-pool {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        border: 1px solid var(--border);
        .dice {
            display: flex;
            gap: 0.5rem;
            justify-content: center;
            margin: 0.5rem;
            .die {
                position: relative;

                width: 30px;
                flex: 0 0 30px;
                img {
                }
                &.active {
                    // &::before {
                    //     content: "9";
                    //     top: 8px;
                    //     left: 12px;
                    //     color: var(--color-cool-3);
                    //     position: absolute;
                    // }
                }

                &.exceeds {
                    img {

                        filter: brightness(0) saturate(100%) invert(29%) sepia(16%) saturate(2164%) hue-rotate(314deg) brightness(114%) contrast(101%);
                    };
                    &::before {
                        color: white;
                    }
                }
    
                &.inactive {
                    opacity: 0.2;
                }

                &.exceeds
                {
                    
                }
            }

        }
        label {
            @include gradient-border($color: var(--border));
            font-size: var(--font-size-20);
            display: block;
        }
    }

    .tab[data-tab=magic] 
    {
        .list-row {
            .progress-bar {
                height: 0.5rem;
                border-radius: 5px;
                --color:  var(--color-warm-2);
            }
        }

        .list-header {
            &.lore {
                border-bottom: 0px;
                .list-name,
                .progress {
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;
                }
            }
        }
    }

    .tab[data-tab=religion] 
    {
        h2.divider {
            margin-top: 1rem;
            margin-bottom: 0px;
        }
    }

    .tab[data-tab=combat]
    {
        .weapon-properties {
            gap: 0.5rem;
        }
    }

    .tab[data-tab=effects] 
    {
        .source {
            flex: 1;
            i {
                margin-right: 0.2rem;
            }
        }
    }

    .actions {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
    }

    .mount-section {
        .mount-drop {
            height: 60px;
            border: 1px dotted var(--border);
            border-top: none;
            text-align: center;
            font-size: var(--font-size-20);
            line-height: 50px;
            span {
                opacity: 0.5;
            }

            &.hover {
                box-shadow: 0px 0px 5px black inset;
            }
        }

        .mount-data {
            display: flex;
            height: 60px;
            align-items: center;
            img {
                height: 50px;
                flex: 0 0 50px;
            }
            .details {
                text-align: center;
                font-weight: bold;
                flex: 1;
                align-items: center;
                margin: auto;
            }
            .controls 
            {
                margin: auto;
                flex: 0 0 50px;
                display: flex;
                justify-content: space-around;
            }
        }
    }
}