.application.whtow.actor.npc {

    .floating 
    {
        position: absolute;
        top: 1rem; 
        right: 1rem;
    }
    .characteristics {
        background: none;
        margin: 0px;
        tr {
            background: none;
        }
    }



    .skills {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
        .skill {
            display: flex;
            align-items: center;
            flex: 0 0 7rem;
            gap: 0.25rem;
            input {
                width: 1.5rem;
                height:  1.5rem;
            }
        }
    }

    .tab[data-tab=main]
    {
        .flexrow {
            gap: 0.5rem;
        }
    }

    .wound-breakdown {
        .field {
            text-overflow: hidden;
            justify-content: left;
            overflow: hidden;
            white-space: nowrap;
            padding: 0px 0.5rem;
        }

        .label.active {
            background: var(--color-warm-3);
        }

        .attribute-box:last-of-type {
            .field {
                justify-content: center;
            }
        }
    }

    &.editing {
        .wound-breakdown {
            .attribute-box {
                --rows: 3;

                .field {
                    padding: 0px;
                }
                .label {
                    gap: 1rem;
                    input {
                        width: 3rem;
                    }
                }
            }
        }
    }
}