<div class="form-group">
    <label>{{localize "TOW.Sheet.Damage"}}</label>
    <div class="form-fields">
        <input type="text" name="system.damage.formula" value="{{source.system.damage.formula}}">
        +
        <select name="system.damage.characteristic">
            {{selectOptions system.schema.fields.damage.fields.characteristic.choices selected=source.system.damage.characteristic localize=true}}
        </select>
    </div>
</div>