
.chat-log {
    .message {

        .message-header {
            align-items: center;
            
            .message-token {
                margin-right: 0.5rem;
                display: flex;
                flex: 0 0 50px;
                img {
                    height: 50px;
                    width: 50px;
                }
            }
        }


        .xp-amount {
            font-size: var(--font-size-20);
            text-align: center;
            margin: 1rem;
        }

        .corruption-message {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

    }

        .item-post {
            .item-drag {

                border: 2px dotted black;
                cursor: move;
                &:hover {
                    box-shadow: 0px 0px 10px black inset;
                }
            }

            button {
                width: 70%;
                margin: 5px auto;
            }
        }

    .cost {
        text-align: center;
        font-size: var(--font-size-20);
    }
}