@use "../mixins/border" as *;

.message {

    .message-header {
        align-items: center;
        
        .message-token {
            margin-right: 0.5rem;
            display: flex;
            flex: 0 0 50px;
            &.mounted {
                flex: 0 0 100px;
            }
            img {
                height: 50px;
                width: 50px;
            }
            &.mounted {
                img {
                    &:last-of-type {
                        margin-left: -25px;
                    }
                }
            }
        }
    }

    .item-summary {
        padding: 0.5rem;
        background: rgba(0, 0, 0, 0.1);
        width: 100%;
        .item-header {
            cursor: pointer;
            width:100%;
            display: flex;
            align-items: center;
            gap: 1rem;
            img {
                height: 50px;
            }
            p {
                font-size: var(--font-size-18);
                font-weight: bold;
            }
        }

        .description {
            display: grid;
            grid-template-rows: 0fr;
            transition: grid-template-rows 250ms;
            > * {overflow:hidden};
            &.expanded {
                grid-template-rows:  1fr;
            }
        }
    }

    .test {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;

        > * {
            width: 100%;
        }
        .title {
            font-size: var(--font-size-18);
            font-weight: bold;
            text-align: center;
            @include gradient-border;
        }
        .target {
            width: 20%;
            text-align: center;
            display: flex;
            align-items: center;
            box-shadow: 0 0 7px inset black;
            justify-content: center;
            border: 1px solid black;
            border-radius: 20%;
            aspect-ratio: 1 / 1;
            font-size: 2rem;

            &.failed {
                border: 1px solid darkred;
                box-shadow: 0 0 7px inset darkred;
            }
        }

        h4 {
            text-align: center;
            font-size: var(--font-size-16);
            margin: 0px;
        }

        &.succeeded {
            h4  { color: darkgreen }

            .target {
                border: 1px solid darkgreen;
                box-shadow: 0 0 7px inset darkgreen;
            }
        }

        &.failed {

            h4 {color: darkred;}

            .target {
                border: 1px solid darkred;
                box-shadow: 0 0 7px inset darkred;
            }
        }

        .dice-set {

            justify-content:center;
            column-gap: 0.5rem;
            display: flex;
            flex-wrap: wrap;
            .die {
                position: relative;
                width: 40px;
                padding: 5px;

                span.reroll-icon {
                    position: absolute;
                    top: 0px;
                    right: 0px;
                    text-shadow: 0px 0px 10px black;
                    color: var(--color-light-2)
                }

                span.die-result {
                    text-shadow: 0px 0px 10px black;
                    font-weight: bold;
                    position: absolute;
                    font-size: var(--font-size-18);
                    left: 15px;
                    top: 8px;
                    color: var(--color-light-2)
                }   

                cursor: pointer;
                &.selected {
                    border-radius: 50%;
                    background: gold;
                }
            }

        }

        .result {
            font-weight: bold;
            font-size: var(--font-size-18);
            &.succeeded {
                color: var(--color-level-success);
                // text-shadow: 0px 0px 10px var(--color-level-success-bg);
            }
            &.failed {
                color: var(--color-level-error-bg);
                // text-shadow: 0px 0px 10px black;
            }
        }

        button {
            width: 100%;
        }

        .test-buttons {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
        }

        .defending,
        .targets {
            width: 100%;
            .header {
                text-align: center;
                font-size: var(--text-size-24);
                font-weight:bold;
                margin: 0px 20%;
                @include gradient-border;
            }

            .defending-list,
            .target-list {
                display: flex;
                flex-direction: column;
            }

            // .target-list {
            //     .success {
            //         background-color: linear-gradient(to right, darkgreen, yellow)
            //     }
            //     .failure {
            //         background-color: darkred;

            //     }
            // }

            // .defending-list {
            //     .success {
            //         background-color: darkgreen
            //     }
            //     .failure {
            //         background-color: darkred;
            //     }
            // }


            .token {
                img {
                    height: 30px;
                }
                display :flex;
                justify-content: center;
                flex-direction: row;
                align-items: center;
                width: 100%;
                gap: 1rem;
            }
        }

        .spell-details {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;   
            > * {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
            }
        }
    }
}