.whtow.application.advancement{

    --pip: var(--color--cool-3);

    nav.sheet-tabs > [data-tab] {
        padding: 0.5rem;
    }

    div[data-application-part=form]
    {
        height: calc(100% - 7rem);
    }

    .tab[data-tab]
    {
        height: 100%;
    }

    .advancement-info {
        display: flex;
        gap: 1rem;
        font-size: var(--font-size-20);
        align-items: center;
        justify-content: center;
        padding: 1rem;

        .overspent {
            color: var(--color-warm-3);
        }
    }

    .tab[data-tab=skills] {

        .skill-name {
            text-align: left;
            padding-left: 0.5rem;
        }

        .pips {
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 1;
            padding: 0px 0.5rem;
            .pip {
                flex: 1 0 1rem;
                height: 0.5rem;
                border: 1px solid var(--pip);
                border-radius: 5px;
                &.active {
                    background-color: var(--pip);
                }
                &.unavailable {
                    border-style: dashed;
                    opacity: 0.7;
                }
            }
        }

        .improvement {
            display: flex;
            align-items: center;
            justify-content: center;
            button {
                margin: 0px 1rem;
                height: 1.5rem;
                line-height: 1.5rem;
                min-height: unset;
            }
        }
    }


}