.whtow.application.modifier-config {
   .modifier-section {
    display: flex;
    align-items: center;

    > div {
        display: flex;
        align-items: center;

        flex: 1;

        &.not {
            flex: 0 0 2rem;
        }

        &.value {
            flex: 0 0 7rem;
            input {
                width: 2rem;
            }
        }

        

        select,
        input {
            margin: 0px 0.5rem;
        }
    }
   }
}