.whtow.application.mount-config {
    .window-content {
        p {
            text-align: center;
        }

        .standard-form {
            height: 100%;
        }

        .sheet-list {
            overflow: auto;
        }

    }
}