@use "./mixins" as *;


.application.warhammer.actor 
{
    overflow: visible;

    background: url("./assets/ui/npc-bg.webp");    
    background-position-x: 15%;
    backdrop-filter: none;
    border: 20px solid transparent;
    border-image: url(./assets/ui/app-frame.webp);
    border-image-slice: 22 22 22 22;
    border-image-repeat: repeat;

    
    .window-resize-handle {
        width: 17px;
        height: 17px;
        bottom: -20px;
        right: -20px;
    }

    .window-header {
        background: none;
        border: none;
        top: -32px;
        padding-left: 4.5rem;
        padding-right: 0px;
        box-shadow: none;
        margin-bottom: -25px;

        button {

            outline: none;

            background: url(./assets/ui/button-square.webp);
            background-size: contain;
            color: black;
        }
    }

    .window-content {
        padding: 0px; // border width of app acts as padding

        button[data-action] {
            @include tow-button;
        }
    }

    .controls-dropdown {
        top: 0rem;
    }

    .sheet-header {

        input[name=name] {
            @include form-border;
            background: var(--tow-brown-half);
            font-family: var(--font-header-alt);
            font-weight: bold;
            height: 2.5rem;
            font-size: 1.5rem;
        }
    }

    .miscast-pool {
            @include form-border;
            background: var(--tow-brown-half);
            font-family: var(--font-header);
            padding: 0.5rem;
    }


}

.application.warhammer.actor.character {


    --input-background-color: var(--tow-brown-half);
    --attribute-title: var(--tow-brown)
    --attribute-label: var(--tow-brown-half);
    --editor-header: var(--tow-brown-half);
    --list-header: var(--tow-brown-half);
    --list-header-border: var(--tow-brown);
    --border: var(--tow-brown);
    --condition-active: var(--tow-brown-half);
    --list-row-alternate: var(--tow-brown-half);


    .window-header {
        .window-title {
            visibility: hidden;
        }
    }



    .characteristics {
        position: relative;
        @include form-border;
        padding: 5px;

        input {
            border: 1px solid var(--tow-brown);
        }

        .ch-data {
            input {
                font-weight: bold;
            }
        }

        label {
            font-family: var(--font-header-alt);
            font-weight: bold;
        }

        // &::before {
        //     content: "";
        //     position: absolute;
        //     background: url(./assets/ui/border-corner.png);
        //     background-size: contain;
        //     background-repeat: no-repeat;
        //     height: 100px;
        //     width: 100px;
        //     z-index: 0;
        //     left: 0px;
        //     top: 0px;
        //     filter: drop-shadow(0 0 0px black);
        // }
    }

    // background: url("./assets/ui/character-bg.png");    
}


.application.warhammer.actor.npc {


    &::before {
        content: "";
        position: absolute;
        background: url(./assets/ui/statblock-header.webp);
        background-size: contain;
        background-repeat: no-repeat;
        height: 60px;
        width: 500px;
        z-index: 0;
        right: 50%;
        top: -40px;
        margin-right: -280px;
        filter: drop-shadow(0 0 0.2rem black);
    }
    

    &.minimized {
        .window-header {
            padding-left: 0px;
        }
    }

    .window-header {


        .window-title {
            margin-top: 8px;
            text-align: center;
            position: relative;
            font-size: var(--font-size-24);
            font-variant: small-caps;
            font-family: var(--font-header);
            color: var(--tow-blue) ;


        }
    }

    .skills,
    .characteristics {
        input {
            border: 1px solid var(--tow-brown);
        }
    }

    .characteristics {
        th {
            font-family: var(--font-header-alt);
            font-weight: bold;
            font-size: var(--font-size-20);
            padding-bottom: 0px;
        }
    }

}