:root {


    @font-face {
        font-family: "Dominican";
        src: url('./assets/fonts/dominica.ttf');
        font-weight: bold;
    }

    
    @font-face {
        font-family: "CaslonPro";
        src: url('./assets/fonts/ACaslonPro-Regular.otf');
    }
    
    @font-face {
        font-family: "CaslonPro";
        src: url('./assets/fonts/ACaslonPro-Bold.otf');
        font-weight: bold;
    }

    @font-face {
        font-family: "CaslonPro";
        src: url('./assets/fonts/ACaslonPro-Italic.otf');
        font-style: italic;
    }

    @font-face {
        font-family: "TOW";
        src: url('./assets/fonts/TOW.ttf');
    }
    
    --tow-blue: rgba(0, 69, 94);
    --tow-blue-half: rgba(0, 69, 94, 0.5);
    --tow-grey: #6a6b6b;
    --tow-lightblue: #a6bed8;
    --tow-bluegrey: #8b9795;
    --tow-bluegrey-half: #8b9795dd;
    --tow-gold: goldenrod;
    --tow-cream: #e8e0d6;
    --font-header: "Dominican";
    --font-text: "CaslonPro";


}