<div class="item-summary">
    <div class="item-header" data-action="expandItem">
        <p>{{fallback name}}</p>
    </div>
    <div class="description {{#if expanded}}expanded{{/if}}">
        <div class="description-expander">
            <div class="public">
                {{{description}}}
            </div>
        </div>
    </div>
</div>