<div class="opposed">
    <h4>{{localize "TOW.Chat.OpposedTitle" attacker=attacker.name defender=defender.name}}</h4>
    <div class="tokens">
        <img src="{{attacker.texture.src}}">
        <img src="{{defender.texture.src}}">
    </div>
</div>