<div>
    <div class="xp-amount">
        {{amount}} XP
    </div>

    {{#if reason}}
    <p style="text-align:center; margin-top: 0px;">{{reason}}</p>
    {{/if}}
</div>

<div class="flexrow">
<button data-action='receive'>{{localize "TOW.Chat.Receive"}}</button>
</div>