.application.whtow {

    .sheet-header {
        display: flex;
        text-align: center;
        gap: 0.5rem;
        input {
            text-align: center;
        }
        .header-details {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }
        .header-row {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            > * {
                flex: 1;
                label {
                    margin: 0.5rem 0px;                
                }
            }
            .status {
                flex: 0.5;
            }
        }
    }


    section[data-tab] {
        overflow: auto;
    }

    
    .conditions {
        --border: var(--color-cool-3);
        --condition-active: var(--color-warm-2);
        
        display: flex;

        flex-wrap: wrap;
        gap: 0.5rem;
        .condition {
            display: flex;
            align-items: center;
            border: 1px solid var(--border);
            border-radius: 10px;
            height: 1.5rem;
            line-height: 1.5rem;
            padding: 0.2rem 0.5rem;
            gap: 0.5rem;
            img {
                opacity: 0.7;
            }
            img {
                width: 1rem;
            }

            &.active {
                background: var(--condition-active);
                img {
                    opacity: 1;
                }
            }
        }
    }

    .sheet-list {
        .list-name input {
            padding: 0px 0.2rem;
        }
    }

    .foundry-note {
        margin: 10px
    }
}
